
{% load bootstrap5 %}
{% load static %}
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}
    <div class="header">
        {% include 'navbar.html'%}
    <div class="search">
        <h2>Search For Hood</h2>
        <p class="ms-5">Start Your Search</p>
    <nav class="navbar navbar-light ">
    <div class="container-fluid">
    <form class="d-flex" action="{% url 'search_results' %}" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="hood_name">
    </form>
    </div>
</nav>
</div>
</div>
<div id="hood">
    <h2 class="text-center">Popular Hoods</h2>
    <div class="row">
    {% for neighborhood in all_hoods%}
    <div class="col-md-3 mx-5">
    <div class="card " style="width: 25rem;">
    <img src="{{neighborhood.hood_image.url}}" class="card-img-top" alt="..." class="img-fluid" data-bs-toggle="modal" data-bs-target="#exampleModal{{neighborhood.id}}"> 
    <div class="card-body text-center">
    <h5>{{neighborhood.hood_name}}</h5>
    <p>{{neighborhood.hood_location}}</p>
    <p>{{neighborhood.created_on}}</p>
    </div>
</div>
<div class="modal fade" id="exampleModal{{neighborhood.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Hood</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>HoodName: {{neighborhood.hood_name}}</h5>
            <p>HoodLocation: {{neighborhood.hood_location}}</p>
            <p>HoodDescr: {{neighborhood.hood_descr}} </p>
            <p>Occupants: {{neighborhood.occupants_count}}</p>
            <p>HospitalTel: {{neighborhood.hospital_tel}}</p>
            <p>PoliceTel: {{neighborhood.police_count}}</p>
            {% if request.user.profile.neighborhood == neighborhood %}
                    <a href="{% url 'leave' neighborhood.id %}" class="btn btn-outline-info">Leave Hood</a>
                    {% else %}
                    <a href="{% url 'join' neighborhood.id %}" class="btn btn-outline-info">Join Hood</a>
                    {% endif %}
            {% if request.user.profile.neighborhood == neighborhood %}
            <a href="{% url 'hoods' neighborhood.id %}" class="card-link btn-outline-info btn">Business</a>
            <a href="{% url 'post' neighborhood.id %}" class="card-link btn-outline-info btn">Posts</a>
            {% endif %}
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
</div>
{% endfor %}
</div>