<nav class="navbar navbar-expand-lg me-auto ">
    <div class="container">
    <a class="navbar-brand" href="#"><span>My</span>Hood</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#hood">All_hoods</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hood' %}"  >Hood</a>
        </li>
        </ul>
        {% if user.is_authenticated %}
    <div class="navigation-icons">
        <a class="navigation-link notifica" href="" ><i class="fas fa-plus"></i></a>
        <a  href="{%url 'editprofile' %}" class="navigation-link notifica">
            <i class="fas fa-edit"></i>
            </i>
            </a>
        <a href="{% url 'profile' %}" class="navigation-link">
            <i class="far fa-user-circle"></i>
        </a>
        <a href="{% url 'logout' %}" id="signout" class="navigation-link">
            <i class="fas fa-sign-out-alt"></i>
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="navigation-link" ><i class="fa fa-sign-in" aria-hidden="true"></i></a>
        
        {% endif %}
    </div>
    </div>
    </div>
</nav>